version: '2'

services:

  ## --------------------------------------------
  ## | Web Server Php7 and required Extensions
  ## --------------------------------------------
  location_web:
    ports:
        - "8080:80"
        - "4444:443"

  ## --------------------------------------------
  ## | Elastic Search
  ## --------------------------------------------
  location_elasticsearch:
        - "9200:9200"

