version: '2'

volumes:
  vol-logs-web-server:
    #### - /data/logs
  vol-logs-elastic_search:
    #### - /usr/share/elasticsearch/data

services:

  ## --------------------------------------------
  ## | Web Server Php7 and required Extensions
  ## --------------------------------------------
  web-server:
    build:
      context: ./.docker-compose/web-server
      dockerfile: Dockerfile
    image: location_web-server
    ports:
     - "8888:80"
    volumes:
     - ./app/:/var/www/
     - ./.docker-compose/web-server/app/.env:/docker/app/.env
     - vol-logs-web-server:/data/logs/

  ## --------------------------------------------
  ## | Elastic Search
  ## --------------------------------------------
  elastic_search:
    image: elasticsearch:2.4.2
    expose:
     - "9200"
    volumes:
     - vol-logs-elastic_search:/usr/share/elasticsearch/data
