version: '2'

services:

  ## --------------------------------------------
  ## | Web Server Php7 and required Extensions
  ## --------------------------------------------
  location_web:
    ports:
        - "7070:80"
        - "4445:443"

  ## --------------------------------------------
  ## | Elastic Search
  ## --------------------------------------------
  location_elasticsearch:
    ports:
        - "9200:9200"

